
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


html, body, #root {
  width: 100%;
  height: 100%;
  background-color: #F0F3EB;
}

#root {
  display: flex;
  flex-direction: column;
}

main{
  flex-grow: 1;
}

header img {
  padding: 12px;
  cursor: pointer;
}